/*!
 * Jesse, Nick, Evan Final-Project
 */


/*********************
Setting Standard Colours
**********************/

.red {
    background-color: #F44336 !important;
}

.red-text {
    color: #F44336 !important;
}

.pink {
    background-color: #e91e63 !important;
}

.pink-text {
    olor: #e91e63 !important;
}

.purple {
    background-color: #9c27b0 !important;
}

.purple-text {
    color: #9c27b0 !important;
}

.deep-purple {
    background-color: #673ab7 !important;
}

.deep-purple-text {
    color: #673ab7 !important;
}

.indigo {
    background-color: #3f51b5 !important;
}

.indigo-text {
    color: #3f51b5 !important;
}

.blue {
    background-color: #2196F3 !important;
}

.blue-text {
    color: #2196F3 !important;
}

.light-blue {
    background-color: #03a9f4 !important;
}

.light-blue-text {
    color: #03a9f4 !important;
}

.cyan {
    background-color: #00bcd4 !important;
}

.cyan-text {
    color: #00bcd4 !important;
}

.teal {
    background-color: #009688 !important;
}

.teal-text {
    color: #009688 !important;
}

.green {
    background-color: #4CAF50 !important;
}

.green-text {
    color: #4CAF50 !important;
}

.light-green {
    background-color: #8bc34a !important;
}

.light-green-text {
    color: #8bc34a !important;
}

.lime {
    background-color: #cddc39 !important;
}

.lime-text {
    color: #cddc39 !important;
}

.yellow {
    background-color: #ffeb3b !important;
}

.yellow-text {
    color: #ffeb3b !important;
}

.amber {
    background-color: #ffc107 !important;
}

.amber-text {
    color: #ffc107 !important;
}

.orange {
    background-color: #ff9800 !important;
}

.orange-text {
    color: #ff9800 !important;
}

.deep-orange {
    background-color: #ff5722 !important;
}

.deep-orange-text {
    color: #ff5722 !important;
}

.brown {
    background-color: #795548 !important;
}

.brown-text {
    color: #795548 !important;
}

.blue-grey {
    background-color: #607d8b !important;
}

.blue-grey-text {
    color: #607d8b !important;
}

.grey {
    background-color: #9e9e9e !important;
}

.grey-text {
    color: #9e9e9e !important;
}

.black {
    background-color: #000000 !important;
}

.black-text {
    color: #000000 !important;
}

.white {
    background-color: #FFFFFF !important;
}

.white-text {
    color: #FFFFFF !important;
}

.transparent {
    background-color: transparent !important;
}

.transparent-text {
    color: transparent !important;
}