.vs/
LuisPharmacy/.vs/LuisPharmacy/v15/Server/sqlite3/storage.ide-shm
*.ide-shm
*.ide-shm
LuisPharmacy/.vs/LuisPharmacy/v15/.suo
LuisPharmacy/.vs/LuisPharmacy/v15/.suo
LuisPharmacy/.vs/LuisPharmacy/v15/Server/sqlite3/storage.ide
LuisPharmacy/.vs/LuisPharmacy/v15/Server/sqlite3/storage.ide-shm
*.ide-wal
*.ide-shm
*.ide
*.ide-shm
*.ide-wal
LuisPharmacy/.vs/LuisPharmacy/v15/.suo
*.ide
*.ide
LuisPharmacy/.vs/