.vs/
LuisPharmacy/.vs/LuisPharmacy/v15/Server/sqlite3/storage.ide-shm
*.ide-shm
*.ide-shm
LuisPharmacy/.vs/LuisPharmacy/v15/.suo
LuisPharmacy/.vs/LuisPharmacy/v15/.suo
LuisPharmacy/.vs/LuisPharmacy/v15/Server/sqlite3/storage.ide
LuisPharmacy/.vs/LuisPharmacy/v15/Server/sqlite3/storage.ide-shm
LuisPharmacy/.vs/LuisPharmacy/v15/.suo
LuisPharmacy/.vs/
LuisPharmacy/.vs/config/applicationhost.config
LuisPharmacy/.vs/LuisPharmacy/v15/Server/sqlite3/storage.ide
