<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="connString" connectionString="data source=localhost; initial catalog=PharmacyEvanJesseNick; uid=webuser; pwd=CNSAcnsa1; connect timeout=30;" providerName="system.data.sqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.aspx" />
                <add value="index.asp" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>